/* Add your CSS styles here */
.hidden {
    display: none;
}

#applyForm {
    position:fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px; /* Limit the maximum width for larger screens */
    width: 90%; ;/* Set a percentage width for smaller screens */
}

#applyForm h2 {
    margin-top: 0;
    font-size: 24px; /* Increase font size for the form title */
}

#applyForm label,
#applyForm input,
#applyForm button {
    display: block;
    margin-bottom: 10px;
}

#applyButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add rounded corners */
}

/* Responsive styles */
@media (max-width: 768px) {
    #applyForm {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    #applyForm h2 {
        font-size: 20px; /* Further decrease font size for smaller screens */
    }
}

/* Style the form inputs */
#applyForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

#applyForm button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#applyForm button:hover {
    background-color: #0056b3;
}
